@tailwind base;
@tailwind components;
@tailwind utilities;

p,
div {
	font-family: 'Maven Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
}

@font-face {
	font-family: 'Maven Pro';
	src: url('./assets/fonts/Maven_Pro/static/MavenPro-Regular.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('./assets/fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype');
	font-weight: 700;
}

.text-shadow {
	text-shadow: 2px 2px 4px #000000;
}